h1{
	color:  red;
	font-size: 200px;
}

/*
img{
	background-color: red;
}


*/
/*********************Class Selector***************/
.bacon {
	background-color: green;
}

.broccoli{
	background-color: red;
}


/**********************ID Selector****************************************/
#heading{
	color: yellow;
}